body {
  background: #6699ff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#6699ff, #000000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#6699ff, #000000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#6699ff, #000000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#6699ff, #000000); /* Standard syntax */
  font-family: 'Noto Sans', sans-serif;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

p, button {
  color: #666;
  font-weight: bold;
}

.logo {
    margin: 0 auto;
    padding: 8px;
    height: 100px;
}

.navToggle {
  border-radius: 0 8px 8px 0;
  position: fixed;
  top: 60px;
  margin-left: 0;
  transition: margin-left, 0.2s, all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: margin-left, 0.2s, all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.navTitle {
    padding: 10px 0 10px 0;
    margin: 0 0 20px 0;
    background-color: #999999;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.75);
}
md-sidenav {
  background-color:  #bfbfbf;
}

md-sidenav p {
  padding: 0 0 0 15px;
  margin: 0;
}

.trackName {
  color: #6699ff;
}

.pr {
  color: #6699ff;
  margin-left: auto;
}

.newPr {
  color: #FFD700;
}

md-card {
    background: rgba(0, 0, 0, 0.2);
}

ul {
    margin: 0;
}

li {
  margin: 0 0 0 -40px;
}

li button {
    width: 100%;
    border-radius: 0 !important;
    border-top: solid 1px #999999 !important;
}

.navToggleOpen {
  transition: margin-left, 0.2s, all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: margin-left, 0.2s, all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-left: 250px;
}

.chart-container {
  height: 300px;
}

md-sidenav {
  min-width: 250px;
  max-width: 250px;
}
